.button button{
    height: 40px;
    width: 135px;
    background-color: #B700FF;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s ease; 
    border: none;
    outline: none;
}
.button button:hover {
    background-color: #8A00CC; 
}