@font-face {
  font-family: "Inter";
  src: url("../../../fonts/Inter/static/Inter_24pt-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Inter-regular";
  src: url("../../../fonts/Inter/static/Inter_18pt-Regular.ttf")
    format("truetype");
}
.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
