.stock {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: auto;
  width: 100%;
  margin-bottom: 5%;
}
.stock-card {
  border-radius: 15px;
  margin-top: 3%;
  /* height: 100%; */
  width: 95%;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05),
    /* Bottom shadow */ 0 -4px 15px rgba(0, 0, 0, 0.05),
    /* Top shadow */ 4px 0 15px rgba(0, 0, 0, 0.05),
    /* Right shadow */ -4px 0 15px rgba(0, 0, 0, 0.05); /* Left shadow */
  background-color: #fff;
}
.stock-info {

  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}
.stock-info span{
  font-size: 20px;
  color: #9499a1;
}
.stock-items {
  color: #9499a1;
  height: 50px;
  margin-top: 30px;
  display: flex;
  /* padding: 20px; */
  justify-content: space-evenly;
  align-items: center;
}


