.hero-section{
    margin-top: 5%;
}
.selling-fireworks{
    width: calc(100% - 60px); 
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    justify-content: space-evenly;
}
.fireworks-container{
    display: flex;
}
.sale{
    display: flex;
    justify-content: space-evenly;
}