.card-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
    width: 95%;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-start;
    overflow: hidden;
    height: 25%;
  }
  .card {
    border-radius: 15px;
    background-color: #fff;
    height: 100%;
    margin: 20px;
    width: 70%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    
    /* General shadow */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
    transition: transform 0.3s, box-shadow 0.3s; /* Transition for hover effect */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Elevate on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
  }
  .card-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    line-height: 1.5;
  }
  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 20%;
    background-color: #2E6BAE;
    height: 70px;
    width: 70px;
  }
  .card-title span {
    font-size: 18px;
    font-family: "Inter-regular";
  }
  .card-price span {
    font-size: 36px;
    color: #000;
    font-family: "Inter";
  }
  .card-bottom {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #2e6bae; /* Original background color */
    transition: background-color 0.3s; /* Smooth transition for the hover effect */
    z-index: 1; /* Ensure it appears above the card */
  }
  
  .card-bottom:hover {
    background-color: #2b5b8a; /* Darker color on hover */
  }
  
  /* To ensure the bottom shadow is visible */
  .card:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
  }
  
  .card-bottom span {
    color: white;
    font-size: 16px;
    font-family: "Inter";
  }
  