@font-face {
  font-family: 'Nunito';
    src: url('./fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    overflow-X: hidden;
    font-family: 'Nunito';
    ;
}